---
const { land } = Astro.props;
const landImgURL = land.images[0];
---

<a href={"/" + land.slug}>
  <div class="land-card" data-scroll>
    <div class="land-card__photo">
      <img
        src={landImgURL || "/no_image.svg"}
        srcset={`${landImgURL}?fm=jpg&fl=progressive&fit=fill&w=900&h=600&f=top 900w,
        ${landImgURL}?fm=jpg&fl=progressive&fit=fill&w=700&h=460&f=top 700w,
        ${landImgURL}?fm=jpg&fl=progressive&fit=fill&w=450&h=300&f=top 450w`}
        sizes="450px"
        alt="Background image"
        alt={`Photo of ${land.title}`}
      />
    </div>
    <div class="land-card__description">
      <h4 class="land-card__title nice-h4">{land.title}</h4>
      <p class="land-card__text nice-p4">{land.briefDescription}</p>
      <div class="land-card__parameters price-tag price-tag--filled">
        <span class="land-card__area price-tag__area">{land.area} m&sup2</span
        ><span class="land-card__price price-tag__price"
          >{land.price}
        </span><span class="price-tag__price-units">tỷ</span>
      </div>
    </div>
  </div>
</a>

<style lang="sass">
  .land-card
    height: 32vh
    border-radius: var(--border-radius-medium)
    box-shadow: var(--shadow-medium)
    overflow: hidden
    position: relative
    will-change: transform, opacity
    &__photo
      width: 100%
      height: 90%
      transition: transform 0.7s cubic-bezier(0, 0, 0.2, 1)
      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 0% 60%
    &__description
      padding: 1.2rem 2.7rem 2.7rem
      background-color: var(--color-grey-light-2)
      width: 100%
      position: absolute
      top: 100%
      transform: translateY(-4.9rem)
      transition: transform 0.5s cubic-bezier(0, 0, 0.35, 1.01)
    &__title
      margin-bottom: .6rem
      margin-left: -.1rem
    &__text
    &__parameters
      position: absolute
      top: -5rem
      right: calc(-100% + 1.5rem)
      opacity: 0
      transition: right 0.5s cubic-bezier(0.39, 0.58, 0.57, 1) 0.2s // Transition: transform breaks in Chrome browser, so I animated absolute positioning property instead
    /*   Hover effects for desktop version */
    @media (min-width: 900px)
      &:hover
        .land-card__photo
          transform: scale(1.2)
        .land-card__description
          transform: translateY(-100%)
        .land-card__parameters
          right: 1.4rem
          opacity: 1
    /*   Show all hidden information for mobile version */
    @media (max-width: 899px)
      .land-card__description
        transform: translateY(-100%)
      .land-card__parameters
        right: 1.4rem
        opacity: 1
    /*   Adjust card size and spacing for smaller screens */
    @media only screen and (max-width: 900px)
      height: 38vh
      &__description
        padding: 1.2rem 2rem 2.2rem
    @media only screen and (max-width: 560px)
      height: 38vh
      &__description
        padding: 1.2rem 1.5rem 1.8rem

  /* Attributes for animations on scroll in, works together with intersection observer API */
  @media only screen and (min-width: 991px)
    [data-scroll]
      opacity: 0
      will-change: transform, scale, opacity
      transform: translateY(50vh) scale(0.93)
      transition: all 3.5s cubic-bezier(0.165, 0.84, 0.44, 1), transform 1.5s ease
    [data-scroll="in"]
      opacity: 1
      transform: translateY(0) scale(1)
</style>
